* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#shape-container {
    display: flex;
}

#score-container {
    display: flex;
}

ul {
    list-style-type: none;
}